@import url('https://fonts.googleapis.com/css2?family=Lato:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html {
    font-size: 12px;
    height: 100%;
}

body {
    background: #F3F5F9;

   
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
body.inner {
    background: #F3F5F9;
  background: url("bg.png");
    background-repeat: no-repeat;
    background-position: center center;
     
}
main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 88%;
    margin: auto;

}

.row {
    display: flex;
    gap: 1rem;
}
.core{
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#total {
    font-size: 4rem;
     color: #556284;
}
.reaction{
    margin-top: 36px;
    max-width: 332px;
}
.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background: #042362;
    border-radius: 8px;
    color: #fff;
    /* padding: 1.4rem; */
    margin-top: 1rem;
    align-items: center;
    height: 68px;
}
.logo{
        display: flex;
        margin-left: 1rem;
}
.hero {
    margin-top: 2rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
}

.insights {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
}

.card {
    display: flex;
    flex-grow: 1;
    margin-top: 2rem;
    padding: 1.4rem;
    background: #EEF7FB;
    border-radius: 4px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #69778C;
}

.breadcrumb ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
 
    padding: .5rem 2rem; 
    margin-bottom: 2rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
}

.breadcrumb ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.breadcrumb ul li:first-child {
font-weight: 800;
}
.breadcrumb ul li:first-child::after {
content: "::";
    margin-left: 1rem;
    margin-right: 1rem;
}
.breadcrumb ul>li>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    color: #69778C;
    text-decoration: none;
}

a {
    color: #f2ebc4;
    text-decoration: none;
}

h1 {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0px;
    padding-top: 0px;
}

h2 {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
h3 {
  color: #556284;
    margin-top: 1rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
h4 {
    color: #556284;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
p {
    color: #69778C;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn {

    padding: .5rem 2rem;
    border-radius: 3rem;
    display: inline-block;
}

.btn-primary {
    background: #042362;
    margin-top: 2rem;
    margin-right: 1rem;
}

.btn-secondary {
    background: #0EA4DF;
    margin-top: 2rem;
    margin-right: 1rem;
}

.btn-link {
    color: #69778C;
        display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #69778C;
}
.settings{
    display: flex;
    border-radius: 0px 8px 8px 0px;
    background: #3AA7F1;
    flex-grow: 1;
    height: 68px;
    width: 68px;
    justify-content: center;
    align-items: center;
}
.tag {
    padding: .25rem 1rem;
    border-radius: 3rem;
    display: inline-block;
}

#status {
    display: inline-block;
}

.tag {
    background: #eaeaea;
    color: #666;
    display: flex;
    align-items: center;
}

.tag.success {
    background: #8ce3d0;
    color: #066b55;
    display: flex;
    align-items: center;
}

.tag.failure {
    background: #e38ca9;
    color: #6b0624;
    display: flex;
    align-items: center;
}

#dot {
    background: #666;

}

#dot.success {
    background: #066b55;


}

#dot.failure {
    background: #6b0624;


}

/* RESET */




.stat {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value {
    font-weight: bold;
    color: #fff;
    background: #69778C;
    padding: 1rem;
    border-radius: 8px;
    height: 1rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.status-dot {
    height: 10px;
    width: 10px;
    background-color: #69778C;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}