<!DOCTYPE html>
<html>
    <head>
        <title>LLM Gateway Monitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
<header>
    <div class="container">
        <div class="head">
            <div class="logo"><a href="#" class="logo">Gateway</a></div>
            <div class="main-menu">Home</div>
            <div class="settings"><a href="#" class="settings">Settings</a></div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="hero">
            <h2>AI Gateway</h2>
            <h1>AI Gateway </h1>
            <p>AI Gateway AI Gateway AI Gateway AI Gateway AI Gateway AI Gateway </p>
            <a href="dashboard.html" class="btn btn-primary">Get started</a>
            <a href="#" class="btn btn-secondary">Get started</a>
            <a href="#" class="btn btn-secondary">Get started</a>
        </div>
    </div>
</main>
    <script src="static/js/script.js"></script>
    </body>
</html>