@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

html {
    font-size: 12px;
}

body {
    background: #f8f8f8;
    font-family: "Google Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
}

.container {
    width: 88%;
    margin: auto;

}

.row {
    display: flex;
    gap: 1rem;
}

.head {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background: #003978;
    border-radius: 8px;
    color: #fff;
    padding: 1.4rem;


}

.hero {
    margin-top: 2rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
}

.insights {
    margin-top: 2rem;
    padding: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .5);
}

.card {
    display: flex;
    flex-grow: 1;
    margin-top: 2rem;
    padding: 1.4rem;
    background: #EEF7FB;
    border-radius: 4px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #69778C;
}

a {
    color: #f2ebc4;
    text-decoration: none;
}

h1 {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0px;
    padding-top: 0px;
}

h2 {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

p {
    color: #69778C;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn {
    margin-top: 2rem;
    padding: .5rem 2rem;
    border-radius: 3rem;
    display: inline-block;
}

.btn-primary {
    background: #003978;
}

.btn-secondary {
    background: #0EA4DF;
}

/* RESET */




.stat {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.value {
    font-weight: bold;
    color: #ffcc00;
}

.status-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}